%h1 Reminderer

%form{:action=> "/add_reminder", :method => "post", :id => "remindForm"}
  %fieldset
    %fieldset
      %label{:for => "task"}= "Remind me to: "
      %textarea{:id => "task", :type => "text", :value => "", :name => "task"}

    %fieldset
      %label{:for => "phone"}= "Phone Number: "
      %input{:id => "phone", :type => "text", :value => "", :name => "phone"}
      
    %fieldset
      %label{:for => "timezone"}= "Timezone: "
      %select{:name => "timezone"}
        %option{:value => "pst"}= "PST"
        %option{:value => "mst"}= "MST"
        %option{:value => "cst"}= "CST"
        %option{:value => "est"}= "EST"
      
      

    %input{:id => 'submit',:type=>"submit", :value=>"Remind me."}



